.byline {
    color: #fff;
    font-size: 2.25em;
    left: 1000px;
    letter-spacing: 0.4em;

}
#thg {
    position: relative;
    left: 15%;
}
body {
    width: 1450px;
    height: 825px;
    margin: 0 auto;
    background: #000 url("https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png");
    padding: 0 20px 20px 20px;
    border: 5px solid yellow;
}
#easy {
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    color: white;
    background: transparent;
    position: relative;
    margin-right: 200px;
    transition: all .25s;
}
#easy::after,#easy::before {
    border: 5px solid cyan;
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    transition: all .25s;
}
#easy:hover::after {
    transform: translate(-5px, -5px);
}

#easy:hover::before {
    transform: translate(5px, 5px);
}
#medium {
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    color: white;
    background: transparent;
    position: relative;
    margin-right: 100px;
    transition: all .25s;
}
#medium::after,#medium::before {
    border: 5px solid blueviolet;
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    transition: all .25s;
}
#medium:hover::after {
    transform: translate(-5px, -5px);
}

#medium:hover::before {
    transform: translate(5px, 5px);
}
#hard {
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    color: white;
    background: transparent;
    position: relative;
    margin-left: 100px;
    transition: all .25s;
}
#hard::after,#hard::before {
    border: 5px solid red;
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    transition: all .25s;
}
#hard:hover::after {
    transform: translate(-5px, -5px);
}

#hard:hover::before {
    transform: translate(5px, 5px);
}
img {
    position: relative ;
    left: 120px;
    top: 50px
}
div {
    position: relative;
    top: 40%;
    left: 17%;
}
a{
    text-decoration: none;
}