<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../stylesheets/starWars.css">

<div class="starwars-demo">
    <img src="https://fontmeme.com/permalink/221125/eb394083cf936d306805190b3c3fd3d9.png" alt="Star" class="star" id="the">
    <img src="https://fontmeme.com/permalink/221125/dbd0a7480de344736758257ca891c94c.png" alt="Wars" class="wars" id="hangman">
</div>
<button class="glow-on-hover" type="button"><a href="pageDifficulty.html">START</a></button>
<link/>
<link rel="stylesheet" type="text/css" href="body.css">
<head>
    <meta charset="UTF-8">
    <title>Hangman-Web</title>
</head>
<style>
    body {
        width: 1485px;
        height: 750px;
        margin: 0 auto;
        background: #000 url("https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png");
        padding: 0 20px 20px 20px;
        border: 5px solid yellow;
    }
    #start{
        position: relative ;
        left: 120px;
        top: 50px
    }
    button {
        position: relative;
        top: 5%;
        left: 43%;
    }
    a{
        text-decoration: none;
        color: white;
    }
</style>
<body>
</body>
</html>