<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../stylesheets/starWars.css">

<div class="starwars-demo">
    <img src="../Img/THE.png" alt="Star" class="star" id="the">
    <img src="../Img/HANGMAN.png" alt="Wars" class="wars" id="hangman">
</div>
<button class="glow-on-hover" type="button"><a href="pageDifficulty.html">START</a></button>
<link/>
<link rel="stylesheet" type="text/css" href="body.css">
<head>
    <meta charset="UTF-8">
    <title>Hangman-Web</title>
</head>
<body>
</body>
</html>