<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../stylesheets/pageHome.css">
<head>
    <meta charset="UTF-8">
    <title>Hangman-Web</title>
</head>
<body>

<div class="starwars-demo">
    <img src="https://fontmeme.com/permalink/221125/eb394083cf936d306805190b3c3fd3d9.png" alt="Star" class="star" id="the">
    <img src="https://fontmeme.com/permalink/221125/dbd0a7480de344736758257ca891c94c.png" alt="Wars" class="wars" id="hangman">
</div>

<form class="form" action="/difficultyPage" method="post">
    <label for="pseudo"><a>Pseudo :</a></label>
    <input type="text" id="pseudo" name="pseudo">
    <input type="submit">
</form>

<link/>
</body>
</html>