<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hangman-Web</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/pageHome.css">
</head>
<style>
    body {
        background-image: url("https://getwallpapers.com/wallpaper/full/c/4/3/1129140-widescreen-dark-abstract-background-2560x1600.jpg");
    }
</style>
<body>
<button class="glow-on-hover" type="button"><a href="/difficultyPage">START</a></button>
<link/>
</body>
</html>