<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../stylesheets/Lose.css">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<img src="https://de27-engine.flamingtext.com/netfu/tmp28009/coollogo_com-10937289.png" alt="Star" class="star" id="the">
<button class="glow-on-hover" type="button"><a href="/difficultyPage">RETRY</a></button>
</body>
</html>