<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../stylesheets/Lose.css">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="star-wars-banner">
  <p class="star-wars-text">Directed BY THEO & THEO</p>
</div>
<img src="https://see.fontimg.com/api/renderfont4/VmWB/eyJyIjoiZnMiLCJoIjoxOTQsInciOjIwMDAsImZzIjo5NywiZmdjIjoiI0VDRjQxMSIsImJnYyI6IiNGRkZGRkYiLCJ0IjoxfQ/TE9TRQ/death-star.png" alt="Star" class="star" id="the">
<button class="glow-on-hover" type="button"><a href="/difficultyPage">RETRY</a></button>

</body>
</html>