<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../stylesheets/pageDifficulty.css">
<img src="https://fontmeme.com/permalink/221125/fc9a4a23fa3412e114b26d26a1f90ed1.png" id="thg">
<head>
    <meta charset="UTF-8">
    <title>Hangman-Difficuty</title>
</head>
<style>
    body {
        width: 1450px;
        height: 825px;
        margin: 0 auto;
        background: #000 url("https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png");
        padding: 0 20px 20px 20px;
        border: 5px solid yellow;
    }
</style>
<body>
<div style="display: inline-block">
    <a href="/EasyMode" id="easy">EASY</a>
    <a href="/MediumMode" id="medium">MEDIUM</a>
    <a href="/HardMode" id="hard">HARD</a>
</div>
</body>
</html>