<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../stylesheets/pageDifficulty.css">
<head>
    <meta charset="UTF-8">
    <title>Hangman-Difficuty</title>
</head>
<style>
    body {
        background-image: url("https://getwallpapers.com/wallpaper/full/c/4/3/1129140-widescreen-dark-abstract-background-2560x1600.jpg");
    }
</style>
<body>
<div style="display: inline-block">
    <a href="/EasyMode" id="easy">EASY</a>
    <a href="/MediumMode" id="medium">MEDIUM</a>
    <a href="/HardMode" id="hard">HARD</a>
</div>
</body>
</html>