<!DOCTYPE html>
<html lang="en">
<img src="https://fontmeme.com/permalink/221125/fc9a4a23fa3412e114b26d26a1f90ed1.png" id="thg">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    {{ if eq .Difficulty "1" }}
        <link rel="stylesheet" type="text/css" href="../stylesheets/easyPage.css">
    {{ else if eq .Difficulty "2"}}
        <link rel="stylesheet" type="text/css" href="../stylesheets/mediumPage.css">
    {{ else if eq .Difficulty "3"}}
        <link rel="stylesheet" type="text/css" href="../stylesheets/hardPage.css">
    {{end}}




</head>
<body>



<div id="chooseword" >
    <p id="p">CHOOSE WORD</p>
    <form action="/Game" method="post">
        <input id="story" name="letter">
        <button id="select" type="submit">
            SELECT
        </button>
    <br>
    <label for="Letterused">Letters Used :</label>
    <p id="Letterused">{{ .Lettersusd }}</p>
    <label>Message : </label>
    <p id="msgbox">{{ .Msg }}</p>


    </form>




</div>
<div id="hangman">
<p id="hang1">_____</p>
<p id="hang2">______</p>
<p id="hang3">______</p>
<p id="hang4">---</p>
<p id="hang5">0</p>
<p id="hang6">|</p>
<p id="hang7">/</p>
<p id="hang8">_</p>
<p id="hang9">_</p>
<p id="hang10">\</p>
</div>

<div id="life">
    <img src="https://fontmeme.com/permalink/221125/169071ad495f2dffc1dfb7eb2eae9809.png">

    <h1> {{ .Lifes }} </h1>
</div>
<h1 class="larger"> {{ .LWord }} </h1>
</body>
</html>

<!--
10: https://fontmeme.com/temporary/79279bd4913d13f9c4985dafdf88d36e.png
9:  https://fontmeme.com/temporary/c7985ca94c38b5ed580451cf315c5be8.png
8:  https://fontmeme.com/temporary/5a55194b285456531128957e0b8dc17f.png
7:  https://fontmeme.com/temporary/378244db671d551a3dd99f3d4b140d72.png
6:  https://fontmeme.com/temporary/a310b7f26a03dabd2b2a3177d7dcd50c.png
5:  https://fontmeme.com/temporary/3b1b58ca8a045a48cf5e3543e20c67f9.png
4:  https://fontmeme.com/temporary/7d9b5e6484c42f66985ad5d9b563ebe1.png
3:  https://fontmeme.com/temporary/1f3653662541570cb39b751c4040a5d1.png
2:  https://fontmeme.com/temporary/d0705c7bd7083fdcb1b5b6f50d5b4566.png
1:  https://fontmeme.com/temporary/95cfd1e00adc76862fe7d3e12a070ddb.png
0:  https://fontmeme.com/temporary/052c70381e83f586346d1f347844ac83.png
>