<!DOCTYPE html>
<html lang="en">
<img src="https://fontmeme.com/permalink/221125/fc9a4a23fa3412e114b26d26a1f90ed1.png" id="thg">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="../stylesheets/mediumPage.css">
<body>
<div id="chooseword" >
    <p id="p">CHOOSE WORD</p>
    <textarea id="story">

    </textarea>
    <button id="select">
        SELECT
    </button>
</div>
<p id="life">
    <img src="https://fontmeme.com/permalink/221125/574fd39cb851f4d64f130c69f68d5459.png">
</p>
<h1 class="larger">W__D</h1>

</body>
</html>