<!DOCTYPE html>
<html lang="en">
<img src="https://fontmeme.com/permalink/221125/fc9a4a23fa3412e114b26d26a1f90ed1.png" id="thg">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{ if eq .Difficulty "1" }}
        <link rel="stylesheet" type="text/css" href="../stylesheets/easyPage.css">
    {{ else if eq .Difficulty "2"}}
        <link rel="stylesheet" type="text/css" href="../stylesheets/mediumPage.css">
    {{ else if eq .Difficulty "3"}}
        <link rel="stylesheet" type="text/css" href="../stylesheets/hardPage.css">
    {{end}}
</head>
<body>
<div id="chooseword" >
    <p id="p">CHOOSE WORD</p>
    <form action="/Game" method="post">
        <input id="story" name="letter">
        <button id="select" type="submit">
            SELECT
        </button>
        <br>
        <label for="Letterused">Letters Used :</label>
        <p id="Letterused">{{ .Lettersusd }}</p>
        <label>Message : </label>
        <p id="msgbox">{{ .Msg }}</p>
    </form>
</div>
{{ if eq .Lifes 10 }}
    <div id="life">
        <img src="http://212.83.166.50/HangmanWeb/lives_10.png" id="lifehang">
    </div>
    <!-- Pas d'images pour le stickman -->
{{ else if eq .Lifes 9 }}
    <div id="life">
        <img src="http://212.83.166.50/HangmanWeb/lives_9.png" id="lifehang">
    </div>
        <div id="posstick">
            <img src="http://212.83.166.50/HangmanWeb/9_lifes.png" id="stickman">
        </div>
{{ else if eq .Lifes 8 }}
    <div id="life">
        <img src="http://212.83.166.50/HangmanWeb/lives_8.png" id="lifehang">
    </div>
<div id="posstick">
    <img src="http://212.83.166.50/HangmanWeb/8_lifes.png" id="stickman">
    </div>
{{ else if eq .Lifes 7 }}
    <div id="life">
        <img src="http://212.83.166.50/HangmanWeb/lives_7.png" id="lifehang">
    </div>
    <div id="posstick">
    <img src="http://212.83.166.50/HangmanWeb/7_lifes.png" id="stickman">
    </div>
{{ else if eq .Lifes 6 }}
    <div id="life">
        <img src="http://212.83.166.50/HangmanWeb/lives_6.png" id="lifehang">
    </div>
    <div id="posstick">
        <img src="http://objectifboxe.fr/HangmanWeb/6_lifes.png" id="stickman">
    </div>
        <img src="http://212.83.166.50/HangmanWeb/6_lifes.png">
{{ else if eq .Lifes 5 }}
    <div id="life">
        <img src="http://212.83.166.50/HangmanWeb/lives_5.png" id="lifehang">
    </div>
        <div id="posstick">
    <img src="http://212.83.166.50/HangmanWeb/5_lifes.png" id="stickman">
        </div>
{{ else if eq .Lifes 4 }}
    <div id="life">
        <img src="http://212.83.166.50/HangmanWeb/lives_4.png" id="lifehang">
    </div>
            <div id="posstick">
    <img src="http://212.83.166.50/HangmanWeb/4_lifes.png" id="stickman">
            </div>
{{ else if eq .Lifes 3 }}
    <div id="life">
        <img src="http://212.83.166.50/HangmanWeb/lives_3.png" id="lifehang">
    </div>
                <div id="posstick">
    <img src="http://212.83.166.50/HangmanWeb/3_lifes.png" id="stickman">
                </div>
{{ else if eq .Lifes 2 }}
    <div id="life">
        <img src="http://212.83.166.50/HangmanWeb/lives_2.png" id="lifehang">
    </div>
                    <div id="posstick">
    <img src="http://212.83.166.50/HangmanWeb/2_lifes.png" id="stickman">
                    </div>
{{ else if eq .Lifes 1 }}
    <div id="life">
        <img src="http://212.83.166.50/HangmanWeb/life_1.png" id="lifehang">
    </div>
                        <div id="posstick">
        <img src="http://212.83.166.50/HangmanWeb/1_lifes.png" id="stickman">
                        </div>
{{ end }}
<h1 class="larger"> {{ .LWord }} </h1>
</body>
</html>
<!--
http://objectifboxe.fr/HangmanWeb/life_0.png...
-->