<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../stylesheets/Win.css">
<head>
    <meta charset="UTF-8">
    <title>Title
    </title>
</head>
<body>
<img src="http://212.83.166.50/HangmanWeb/win.png alt="Star" class="star" id="the">
<button class="glow-on-hover" type="button"><a href="/homePage">RETRY</a></button>
</body>
</html>