<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../stylesheets/Win.css">
<head>
    <meta charset="UTF-8">
    <title>Title
    </title>
</head>
<body>
<img src="https://ov11-engine.flamingtext.com/netfu/tmp28002/coollogo_com-124104479.png" alt="Star" class="star" id="the">
<button class="glow-on-hover" type="button"><a href="/homePage">RETRY</a></button>
</body>
</html>